---
import Page from "../layouts/page.astro";
---

<Page title="Cuemonic - Metadata management for production composers">
  <div class="main">
    <h2>Tired of managing your cues in a complicated spreadsheet?</h2>
    <p class="pull">
      Ever accidentally tried to sign a cue to a second publisher because you
      forgot to move your files from the "unsigned" folder to the "signed"
      folder?
    </p>
    <p>
      We get it. You just want a way to manage all the pesky metadata about your
      cues in one easy place.
    </p>
    <p>
      You signed up to <em>write</em> music. Not manage spreadsheet cells. That's
      for the business majors.
    </p>
    <h2>Meet Cuemonic</h2>
    <p>In its simplest form, Cuemonic is a metadata database.</p>
    <h3>What does this mean for you?</h3>
    <ul>
      <li>Store all your cue metadata in one place.</li>
      <li>Enter your cue metadata in a user-friendly form.</li>
      <li>Import your existing cue catalog using our bulk CSV import tool.</li>
      <li>Upload an MP3 to play a short preview of the cue.</li>
      <li>Search for cues by title, publisher, or any other metadata.</li>
      <li>Export your metadata to CSV for easy sharing with publishers.</li>
      <li>Track which cues are signed, unsigned, and in progress.</li>
      <li>
        Save your licensing information and apply it to each cue automatically.
      </li>
      <li>Store each cue's splits in line with its other data.</li>
      <li>Never lose track of a cue again.</li>
    </ul>
    <h2>How does it work?</h2>
    <p>
      Cuemonic is a web app that runs in your browser. It uses a simple database
      to store your cue metadata, and you can access it from any device with an
      internet connection.
    </p>
    <p>There are three primary ways to interact with your cues:</p>
    <ol>
      <li>An input form to create a cue and its metadata.</li>
      <li>
        A searchable, filterable, and editable catalog to see all of your cues
        in one place.
      </li>
      <li>
        An editable detail page for each cue, where you can view and update all
        of the metadata for that cue.
      </li>
    </ol>
    <h3>Make AI do the boring work for you!</h3>
    <p class="pull">
      Tired of trying to come up with titles and descriptions for your cues?
    </p>
    <p>
      Cuemonic can make suggestions based on existing metadata entered. Add as
      many musical elements as you can, and Cuemonic will suggest a title,
      description, and tags for your cue. Don't like the suggestions? Edit them
      as you see fit.
    </p>
    <!-- <p class="pull">Want even more metadata suggestions?</p>
    <p>Upload your cue MP3, and Cuemonic will suggest metadata upon analyzing the file.</p>
    <p>Cuemonic uses OpenAI's GPT-4 and Whisper models to generate metadata suggestions. You can choose to accept or reject any suggestions made.</p>
    <p>Your MP3 files will only be used to suggest metadata to you. We will not store your MP3s unless you want to access the preview feature. We will not use your files for training or generation of any models.</p> -->
    <h2>What Cuemonic is not</h2>
    <p>
      Cuemonic is not a DAW. It does not store your project files, and it does
      not help you write music.
    </p>
    <p>
      Cuemonic is not a music library app. It does not play your cues (except
      for a preview if you choose), and it does not help you manage your music
      files.
    </p>
    <p>
      Cuemonic is not a music publishing platform. It does not help you find
      publishers, and it does not help you manage your publishing contracts.
    </p>
    <p>
      Cuemonic is not a music licensing platform. It does not help you license
      your music, and it does not help you manage your licensing agreements.
    </p>
    <p class="pull">
      Cuemonic is a tool to help you manage your cue metadata. It is designed to
      be simple, easy to use, and <em>focused</em> on solving the metadata problem
      for production composers.
    </p>
    <h2>Pricing</h2>
    <p>
      During beta testing, Cuemonic is <em>$5 per month</em>. Save 20% by
      subscribing for <em>$48 per year</em>, and keep that price as long as you
      stay subscribed!
    </p>
    <h2>How to get started</h2>
    <p class="pull">Ready to give it a try?</p>
    <p>
      Check out Cuemonic free for 14 days. <a href="https://tally.so/r/3E29Ar"
        >Sign up for our beta now!</a>
    </p>
    <h3>What to expect?</h3>
    <p>
      We are ramping up slowly to ensure a smooth experience. We will email you
      a link to subscribe when we are ready for the next set of composers.
    </p>
  </div>
</Page>
