!---
import "../styles/global.css";
import '@fontsource/alike';
import '@fontsource/poppins/200.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/900.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cuemonic</title>
	</head>
	<body>
		<h1><span class="color-bright">Cue</span>monic</h1>
	</body>
</html>
